:root {
  --black-color: #282c34
}

body {
  background-color: var(--black-color) ;
  margin: 0;
  padding: 0;
}
  
.app {
  display: flex;
  height: 100vh;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  
}

.navAnchor {
  text-decoration: none;
  color: var(--black-color);
  justify-content: left;
  display: flex;
  margin-left: 2%;
}

.navLogIn {
  justify-content: flex-end;
}