.flashcardSection {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: var(--blue-color);
  padding: 1em;
  overflow-y: auto;
  position: relative;
}

.flashcard{
  height: 40%;
  width: 60%;
  background-color: var(--card-color);
  border-radius: 1em;
  align-self: center;
  
}

.title{
  display: flex;
  justify-content: center;
  background-color: var(--black-color);
  border-bottom: 2px solid var(--gray-color);
  font-family: 'Roboto';
  font-weight: lighter;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

h2{
  font-weight: normal;
  font-size: 1.4rem;
  color: var(--card-color)
}

.flashcardTextArea{
  display: flex;
  margin: 0;
  height: 26vh;
  outline: none;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size:large;
}

.createdCards {
  width: calc(100% - 29.7%);
  height: 16%; 
  background-color: var(--card-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 0;
  position: fixed;
  margin-bottom: 2vh;
  border-radius: 1em;
}