:root {
  --black-color: #282c34;
  --gray-color: #757880;
  --blue-color: #79acc2;
  --card-color: #dddddd;
}

body {
  background-color: var(--black-color) ;
  margin: 0;
  padding: 0;
}
  
.app {
  display: flex;
  height: 100vh;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  
}

.sideBarInfo{
  width: 20%; /*try with 25 percent*/ 
  margin-top: 8vh;
  background-color: var(--gray-color);
  border-right: 2px solid var(--black-color);
  padding: 1em;
  font-size: large;
}

.mainContent{
  margin-top: 8vh;
  flex: 1;
  overflow-y: auto;
}

.homePageImage{
  max-height: 98vh;
  width: 100%;
  display: block;
  margin: 0;
}

.imageContainer{
  position: relative;
  width: 100%;
}

.imageTextQuestion,
.imageTextAnswer,
.imageTextButton {
  position: absolute;
  color: white;
  text-align: center;
  padding: 0 1em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 10px;
  font-size: 1.2rem;
}

.imageTextQuestion {
  top: 15%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.imageTextAnswer {
  top: 23%;
  left: 71%;
  transform: translate(-50%, -50%);
}

.imageTextButton {
  top: 31%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: var(--black-color);
  background-color: white;
  width: 10%;
  border: 1px solid black;
  padding: 0.5em;
  text-decoration: none;
}

.imageTextQuestion,
.imageTextAnswer,
.imageTextButton {
  position: absolute;
  color: white;
  text-align: center;
  padding: 0 1em; 
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 8px; 
  margin: 10;
  font-size: 1.2rem;
}

.imageTextQuestion {
  top: 15%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.imageTextAnswer {
  top: 23%;
  left: 69%;
  transform: translate(-51.5%, -50%);
}

.imageTextButton {
  top: 29.9%;
  left: 75%;
  transform: translate(-51.5%, -50%);
  color: var(--black-color);
  background-color: white;
  width: 10%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.5em;
  text-decoration: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
  transition: background .3s ease;
  animation: blink 2.5s linear infinite;
  &:hover{
    background-color: var(--black-color);
    animation: none;
    color: white;
  }
}

@keyframes blink{
  100%{
      opacity: 1
  }
  60%{
      opacity: .6;
  }
}

@media (max-width: 1800px) {
  .imageTextQuestion,
  .imageTextAnswer,
  .imageTextButton {
    font-size: 1.1rem;
    padding: 0 0.5em;
    margin: 10px 0;
    top: 12%
  }
  

  .imageTextAnswer{
    left: 70.6%;
    top: 22%;
  }

  .imageTextButton {
    width: 8%;
    top: 29.7%;
    left: 76%;
    height: 2.5em; 
    min-height: 2.5em; 
    line-height: 1.2rem; 
    margin-top: 12px;
  }
}

.predefinedDeckCard {
  background-color: #79acc2; 
  border-radius: 12px; 
  padding: 20px; 
  margin: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  font-size: 1.5rem; 
  color: white; 
  cursor: pointer; 
  transition: transform 0.3s ease, background-color 0.3s ease; 
  &:hover{
    background-color: #56585e; 
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* border: 2px solid var(--black-color);  */
  }
}

.asideTitle {
  display: flex;
  justify-content: center;
}