:root {
    --black-color: #282c34;
    --gray-color: #56585e;
    --blue-color: #79acc2;
    --card-color: #dddddd;
}

.headerContainerL {
    display: flex;
    height: 6%;
    width: 20%;
    justify-content: center;
    align-items: center;
    color: var(--card-color);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    background-color: var(--black-color);
    border-radius: .4em;
    transform: translate(0%, 50%);
}

.mainContainerL {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--blue-color);
    position: absolute;
    width: 100%;
    height: calc(100vh - 8vh); 
    top: 8vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-image: url('https://i.postimg.cc/0j3L42B3/tim-mossholder-SZg-VZPb-Q7-RE-unsplash.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: top right; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.formContainerLogIn {
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 0.5em 0;
    background-color: white;
    color: var(--black-color);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
}

.inputEmail {
    color: black;
    ::placeholder {
        color: white;
    }
}

.inputPassword {
    color: black;
    ::placeholder {
        color: white;
    }
}

.ButtonContainerL { 
    margin-top: 1em;
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

.verifyAccount{
    margin-top: 10px;
    padding: 0.5em 1em;
    background-color: var(--gray-color);
    color: white;
    border: 1px solid var(--black-color) ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: 'Roboto';
    &:hover {
        background-color: var(--black-color);
        color: #dddddd;
    }
}

.unsubscribedPeople {
    text-decoration: none;
    color: var(--blue-color);
    margin-top: 1em;
}
