.navBar {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #A2C2E5;
    color: #282c34;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;   
     
}