:root {
    --black-color: #282c34;
    --gray-color: #56585e;
    --blue-color: #79acc2;
    --card-color: #dddddd;
    --red-color: #e81123;
    --dark-red: #A40000
}

.reviewCardContainerP {
    background-color: var(--blue-color);
    display: flex;
    position: absolute;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8vh);
    width: 100%;
    top: 8vh;
}

.noDecksAvailableContainerP {
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8vh);
    width: 100%;
    top: 8vh;
}

.noDecksAvailableContainerP {
    color: var(--card-color);
}

.cardWrapperP {
    display: flex;
    position: relative;
    background-color: var(--card-color);
    border-radius: 1em;
    width: 300px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.cardContentP {
    text-align: center;
    font-family: 'Roboto';
    font-size: 300;
}

/* Estilos para botones de navegación de mazos */
.previousButtonP, .nextButtonP {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    margin: 12px;
    background-color: var(--black-color);
    color: var(--card-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        color: var(--blue-color);
    }
}

/* Deshabilitar botones cuando no sean necesarios */
.previousButtonP:disabled, .nextButtonP:disabled {
    background-color: var(--black-color);
    cursor: not-allowed;
}

.deckButtonP {
    margin-top: 10px;
    padding: 0.5em 1em;
    background-color: var(--black-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: 'Roboto';
    margin-bottom: 2em;
}

.deckButtonP:hover {
    background-color: var(--gray-color);
}

.reviewCardTitleP {
    color: var(--black-color);
    font-size: 1.5rem;
    margin-bottom: 2em;
    margin-top: 0.01;
}

.flashcardTextP {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    font-size: x-large;
    font-weight: bold;
}

.flipButtonP {
    position: flex;
    bottom: 50px;
    padding: 0.5em 1em;
    background-color: var(--black-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2em;
}

.flipButtonP:hover {
    background-color: var(--gray-color);
}

.backButtonP {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--black-color);
}

.backButtonP:hover {
    color: var(--blue-color);
}

.deleteDeckP, .deleteFlashcardP {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--red-color);
}

.deleteDeckP:hover, .deleteFlashcardP:hover {
    color: var(--dark-red);
}

.popoverReviewCardP {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border: 0.5px solid ;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 0 10px;
    z-index: 1000;
    h4 {
        margin: 0
    }
}

.popoverButtonP {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: var(--blue-color);
    color: solid var(--black-color);
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto';
}
