:root {
  --black-color: #282c34;
  --gray-color: #56585e;
  --blue-color: #79acc2;
  --card-color: #dddddd;
}

.mainContainer {
  background-color: var(--blue-color);
  display: flex;
  position: absolute;
  flex: 1;
  flex-direction: row; 
  width: 100%; 
  height: calc(100vh - 8vh); 
  top: 8vh;
  left: 0;
  right: 0;
  bottom: 20vh;
}

.assistantIA{
  border-right: 2px solid var(--black-color);
  width: 25%;
  padding: 1em;
}

.firstDeck{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--blue-color);
  padding: 1em;
  overflow-y: auto;
}

.firstDeckNameQuery{
  font-size: larger;
  font-family: 'Roboto';
}

.inputText{
  outline: none;
  box-shadow: none;
  background-color: white; 
  padding: 6px;             
  border: 2px solid white;  
  border-radius: 10px;      
  max-width: 400px;         
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto';
}

